@import './colors.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  border: none;
  outline: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  padding: 15px 40px;
  cursor: pointer;

  &:disabled {
    color: $disabledColor;
    background-color: $disabledBackground;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    filter: brightness(0.9);
  }
}