@import '../../styles/colors.scss';

.spinner {
  display: contents;
  width: 12px;
  height: 12px;

  &:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid $primaryVeryLight;
    border-color: $primaryVeryLight transparent $primaryVeryLight transparent;
    animation: spinner 1.2s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}